altgraph==0.17.5
cffi==2.0.0
charset-normalizer==3.4.9
cryptography==49.0.0
customtkinter==6.0.0
darkdetect==0.8.0
et_xmlfile==2.0.0
importlib_metadata==8.7.1
numpy>=2.3
openpyxl==3.1.5
packaging==26.2
pandas==2.3.3
pdfminer.six==20251107
pdfplumber==0.11.8
pefile==2024.8.26
pillow==11.3.0
pycparser==2.23
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
PyMuPDF==1.26.5
pypdfium2==5.12.1
python-dateutil==2.9.0.post0
pytz==2026.2
pywin32-ctypes==0.2.3
six==1.17.0
tkcalendar
typing_extensions==4.16.0
tzdata==2026.3
zipp==3.23.1
